body {
  background-color: #A66365;

}
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
}

.App-link {
  color: #61dafb;
}

.Column-roman-number{
  position: absolute;
  left: 300px;
  width: 200px;
  height: 20px;
}

.Column-normal-number{
  position: absolute;
  right: 500px;
  width: 200px;
  height: 20px;
}

.Input-roman-number{
  position: absolute;
  left: 400px;
  /* width: 200px;
  height: 20px; */
}

.Input-normal-number{
  position: absolute;
  right: 450px;
  /* width: 200px;
  height: 20px; */
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
